h1{
    border: 8px solid red;
    /* padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 40px;
    /* padding: 20px 40px; */
    margin: 40px auto;
    width: 500;
    text-align: center;
    background-color: aqua;
}