/* *{
    color: blue;
} */

header{
    background-color: #f0ebeb;
}
section.my-articles{
    background-color: #f2e9e9;
}

header p{
    color:red
}

li a{
    color:blue
}

/* section.my-articles h2{
    color: green;
} */

section.my-articles > h2{            /* it will change the color of h2 tag which is inside section tag */
    color: green;
}

h2+p{                                /* it will change the color of the p tag which is immediate to  h2 tag*/
    color: aqua;
}

ul+p{
    color:gold;
}